/* Стилі для фону модального вікна */
/* Ховаємо модальне вікно за замовчуванням */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стилі для контенту модального вікна */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Кнопка закриття */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* Інпути */
input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 260px;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input.error {
    border-color: red;
}

/* Кнопка відправки */
button {
    width: 100%;
    padding: 10px;
    background: var(--brand, linear-gradient(180deg, #C08D58 0%, #FEF1BA 100%));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:focus {
    background: #C08D58;
}