<section class="coloration-form">
    <div class="container container-coloration-form">
        <h2 class="coloration-form-title">
            Записатися на фарбування
        </h2>
        <form action="sender.php" method="post">

            <label htmlFor=""></label>
            <ul class="coloration-form-subject">
                <li class="coloration-form-subject-slogan">
                    <input type="text" class="name" name="name" placeholder="Ім'я" required>
                </li>
                <li class="coloration-form-subject-slogan">
                    <input type="text" name="surname" placeholder="Прізвище" required>
                </li>
                <li class="coloration-form-subject-slogan">
                    <input type="text" class="phone" name="phone" placeholder="Телефон">
                </li>
                <li class="coloration-form-subject-slogan"><input type="email" name="email" placeholder="Email"
                        required></li>
                <li class="coloration-form-subject-text"><input name="text" id="" cols="30" rows="10"
                        placeholder="Введіть текст"></input></li>
            </ul>
            <button type="button" class="coloration-form-btn">Записатися</button>
            <div class="status"></div>
        </form>
    </div>
</section>