<section>
    <div class="container coloration-bloc">
        <h2 class="coloration-title">Пінні бані</h2>
        <div class="coloration-desc">
            <img class="coloration-image" src="../images/coloranion/mobile/foam-baths-mobile.webp" alt="Foam baths">
            <p class="coloration-text">Безпечне фарбування волосся - тепер це можливо з “Пінними банями”.<br>
                Той, хто хоч раз спробував “Пінні бані” вже не захоче фарбуватися за допомогою іншої техніки. Адже
                “Пінні
                бані”
                підвищують стійкість кольору, а додавання активних компонентів під час фарбування покращує структуру
                волосся. Для
                клієнтів із зіпсованим волоссям - це порятунок, а для тих, хто боїться пошкодити волосся -це
                рішення.Чимало
                красунь
                мріють про розкішний “блонд”,але отримують його далеко не завжди.
                “Пінні бані” дозволяють створити дорогий, шикарний “блонд” без жовтизни та смуг, та відновити пошкоджене
                волосся.
            </p>
        </div>
        <iframe class="coloration-video" width="100%" height="160"
            src="https://www.youtube.com/embed/IiFHHbt-BTQ?si=rudQGsQdpOySG86I" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</section>