<section class="reviews">
    <div class="container container-reviews">
        <h2 class="reviews-title">Відгуки</h2>
        <div class=" swiper swiper-reviews">
            <!-- Additional required wrapper -->
            <ul class=" reviews-items swiper-wrapper">
                <!-- Slides -->
                <li class="reviews-item swiper-slide">
                    <img class="reviews-image" src="./static/images/coloranion/desktop/reviews1.jpg" alt="slider1">
                    <p class="reviews-text">
                        "Це найкраща техніка фарбування, яку я пробувала! Волосся виглядає здоровим, м'яким і
                        об'ємним.
                        Майстер чудово впорався
                        зі своєю роботою!"
                    </p>
                    <h3 class="reviews-name">Катерина</h3>
                </li>
                <li class="reviews-item swiper-slide">
                    <img class="reviews-image" src="./static/images/coloranion/desktop/reviews2.jpg" alt="slider2">
                    <p class="reviews-text">
                        "Мені дуже сподобався результат після фарбування технікою 'Пінні бані'. Колір вийшов дуже
                        природним і красивим.
                        Рекомендую всім!"
                    </p>
                    <h3 class="reviews-name">Марина</h3>
                </li>
                <li class="reviews-item swiper-slide">
                    <img class="reviews-image" src="./static/images/coloranion/desktop/reviews3.jpg" alt="slider3">
                    <p class="reviews-text">
                        "Техніка 'Пінні бані' стала справжнім відкриттям для мене. Волосся стало виглядати
                        об'ємнішим і
                        здоровішим, а колір -
                        живим і насиченим.”
                    </p>
                    <h3 class="reviews-name">Оля</h3>
                </li>
                <li class="reviews-item swiper-slide">
                    <img class="reviews-image" src="./static/images/coloranion/desktop/reviews1.jpg" alt="slider1">
                    <p class="reviews-text">
                        "Це найкраща техніка фарбування, яку я пробувала! Волосся виглядає здоровим, м'яким і
                        об'ємним.
                        Майстер чудово впорався
                        зі своєю роботою!"
                    </p>
                    <h3 class="reviews-name">1</h3>
                </li>
                <li class="reviews-item swiper-slide">
                    <img class="reviews-image" src="./static/images/coloranion/desktop/reviews2.jpg" alt="slider2">
                    <p class="reviews-text">
                        "Мені дуже сподобався результат після фарбування технікою 'Пінні бані'. Колір вийшов дуже
                        природним і красивим.
                        Рекомендую всім!"
                    </p>
                    <h3 class="reviews-name">2</h3>
                </li>
                <li class="reviews-item swiper-slide">
                    <img class="reviews-image" src="./static/images/coloranion/desktop/reviews3.jpg" alt="slider3">
                    <p class="reviews-text">
                        "Техніка 'Пінні бані' стала справжнім відкриттям для мене. Волосся стало виглядати
                        об'ємнішим і
                        здоровішим, а колір -
                        живим і насиченим.”
                    </p>
                    <h3 class="reviews-name">3</h3>
                </li>
            </ul>
            <!-- If we need pagination -->

            <div class="reviews-pagination">
                <div class="swiper-pagination "></div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="reviews-button">
                <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
            </div>
        </div>
</section>