<section>
    <div class="container painting-container">
        <h2 class="painting-title">Види фарбування волосся</h2>
        <p class="painting-text">У своїй роботі я використовую різні техніки фарбування волосся:</p>
        <ul class="painting-items">
            <div class="painting-items-bloc1">
                <li class="painting-item">
                    <img class="painting-item-image" src="./static/svg/group1.svg" alt="group1">
                </li>
                <li class="painting-item">
                    <img class="painting-item-image" src="./static/svg/group2.svg" alt="group2">
                </li>
                <li class="painting-item">
                    <img class="painting-item-image" src="./static/svg/group3.svg" alt="group3">
                </li>
            </div>
            <div class="painting-items-bloc2">
                <li class="painting-item">
                    <img class="painting-item-image" src="./static/svg/group4.svg" alt="group4">
                </li>
                <li class="painting-item">
                    <img class="painting-item-image" src="./static/svg/group5.svg" alt="group5">
                </li>
            </div>
            <li class="painting-item">
                <img class="painting-item-image" src="./static/svg/group6.svg" alt="group6">
            </li>
        </ul>
    </div>
</section>