<section class="painting-process">
    <div class="container painting-process-container">
        <h2 class="painting-process-title">Фарбування проходить в три етапи:</h2>
        <ul class="painting-process-items">
            <li class="painting-process-item">
                <h3 class="painting-process-subtitle">
                    1 етап - Підготовка
                </h3>
                <div class="painting-process-bloc">
                    <img class="painting-process-image" src="./static/images/coloranion/mobile/coloration-etap1.webp"
                        alt="etap1">
                    <img class="painting-process-pic" src="./static/images/coloranion/desktop/coloration-etap1.webp"
                        alt="etap1">
                    <p class="painting-process-text">
                        Перед фарбуванням я перевіряю стан волосся та ми разом обираємо техніку фарбування, відповідно
                        до
                        побажань.
                    </p>
                </div>
            </li>
            <li class="painting-process-item">
                <h3 class="painting-process-subtitle">
                    2 етап - Фарбування
                </h3>
                <div class="painting-process-bloc">
                    <img class=" painting-process-image" src="./static/images/coloranion/mobile/coloration-etap2.webp"
                        alt="etap2">
                    <img class="painting-process-pic" src="./static/images/coloranion/desktop/coloration-etap2.webp"
                        alt="etap2">
                    <p class="painting-process-text">
                        Саме фарбування. У фарбник я додаю активні компоненти, для захисту та відновлення вашого
                        волосся.
                    </p>
                </div>
            </li>
            <li class="painting-process-item">
                <h3 class="painting-process-subtitle">
                    3 етап - Догляд
                </h3>
                <div class="painting-process-bloc">
                    <img class=" painting-process-image" src="./static/images/coloranion/mobile/coloration-etap3.webp"
                        alt="etap3">
                    <img class="painting-process-pic" src="./static/images/coloranion/desktop/coloration-etap3.webp"
                        alt="etap3">
                    <p class="painting-process-text">
                        Після фарбування я роблю доглядові процедури для вашого волосся та допоможу вам підібрати
                        косметику для домашнього
                        догляду.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>