<section>
    <div class="container certificate">
        <h2 class="certificate-content">До та після фарбування</h2>
        <div class="swiper swiper-painting">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="../images/coloranion/swiper/Rectangle 12323.jpg" alt="Certificate1">
                </div>
                <div class="swiper-slide">
                    <img src="../images/coloranion/swiper/Rectangle 12323.jpg" alt="Certificate1">
                </div>
                <div class="swiper-slide">
                    <img src="../images/coloranion/swiper/Rectangle 12323.jpg" alt="Certificate1">
                </div>



            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>