<section>
    <h1>Сторінка контактів</h1>
    <!-- <a href="index.html">Повернутися на головну</a> -->

    <div class="form-container">
        <form id="contactForm2">
            <input type="hidden" name="page" value="Сторінка Контактів">

            <input type="text" name="surname" id="surname2" placeholder="Ваше прізвище">
            <p class="error-message" id="surnameError2"></p>

            <input type="text" name="name" id="name2" placeholder="Ваше ім'я">
            <p class="error-message" id="nameError2"></p>

            <input type="email" name="email" id="email2" placeholder="Ваш Email">
            <p class="error-message" id="emailError2"></p>

            <input type="tel" name="phone" id="phone2" placeholder="Ваш телефон">
            <p class="error-message" id="phoneError2"></p>

            <textarea name="text" id="text2" placeholder="Ваше повідомлення"></textarea>
            <p class="error-message" id="textError2"></p>

            <button type="submit">Надіслати</button>
        </form>
    </div>

    <!-- Модальне вікно для повідомлення -->
    <div id="messageModal2" class="message-modal">
        <div class="message-modal-content">
            <span class="message-close" onclick="closeMessageModal('messageModal2')">&times;</span>
            <p id="responseMessage2"></p>
        </div>
    </div>

</section>