.my-works {
    background-image: url(../images/desktop/Rectangle.webp);
    background-size: cover;
}

.swiper-slide-image {
    width: 100%;
}

.my-works-content {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 24px;

    color: var(--text, #352D25);


    font-family: Roboto;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: 130%;

    letter-spacing: 0.28px;

    @media screen and (min-width: 768px) {
        padding-top: 40px;

        font-size: 40px;
        line-height: 150%;

        letter-spacing: 0.4px;
    }

    @media screen and (min-width: 1200px) {

        font-size: 80px;
        line-height: 150%;
        letter-spacing: 0.8px;
    }
}

.swiper-my-works {
    height: 430px;

    @media screen and (min-width: 480px) {
        height: 655px;
    }

    @media screen and (min-width: 768px) {
        height: 530px;
    }
}

.swiper-wrapper .swiper-pagination {
    bottom: 0;
}

.swiper-wrapper .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-style: 20px;
    background-color: #fff;
}

.my-works-social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 33px;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 80px;
    }



}

.my-works-social-text {
    padding-right: 16px;

    color: #473B2E;


    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;

    @media screen and (min-width: 768px) {

        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.18px;
    }

    @media screen and (min-width: 1200px) {
        padding-right: 24px;


        color: var(--braun, #543310);

        font-size: 32px;
        line-height: 150%;

    }

}

.my-works-social-icon {
    width: 24px;

    @media screen and (min-width: 1200px) {
        width: 40px;
    }
}