<section class="advant">
    <div class="container">
        <div class="advantages">
            <h2 class="advantages-title">Чому клієнти обирають мене?</h2>
            <ul class="advantages-list">
                <li class="advantages-item">
                    <img class="advantages-image" src='/src/static/svg/Vector1.svg' alt="My Happy SVG" width="44"
                        height="43" />
                    <p class="advantages-text">Індивідуальний підхід</p>
                </li>
                <li class="advantages-item">
                    <img class="advantages-image" src='/src/static/svg/Vector2.svg' alt="My Happy SVG" width="44"
                        height="43" />
                    <p class="advantages-text">Більше 15 років досвіду роботи</p>
                </li>
                <li class="advantages-item">
                    <img class="advantages-image" src='/src/static/svg/Vector3.svg' alt="My Happy SVG" width="44"
                        height="43" />
                    <p class="advantages-text">Високоякісні матеріали</p>
                </li>
                <li class="advantages-item">
                    <img class="advantages-image" src='/src/static/svg/Vector4.svg' alt="My Happy SVG" width="44"
                        height="43" />
                    <p class="advantages-text">Фарбування сучасними методами</p>
                </li>
                <li class="advantages-item">
                    <img class="advantages-image" src='/src/static/svg/Vector5.svg' alt="My Happy SVG" width="44"
                        height="43" />
                    <p class="advantages-text">Підбір професійного догляду</p>
                </li>
                <li class="advantages-item">
                    <img class="advantages-image" src='/src/static/svg/Vector6.svg' alt="My Happy SVG" width="44"
                        height="43" />
                    <p class="advantages-text">
                        Зміцнення волосся під час процедур
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>