<section class="banner">
    <div class="container banner-group ">
        <div class="banner-image">
            <img class="banner-foto" src="./static/images/mobile/RectangleMobile2.png" alt="">
        </div>
        <div class="banner-center">
            <div class="banner-title">
                <p class="banner-subject">Студія краси</p>
                <h1 class="banner-subtitle">“V’IVA colorist”</h1>
                <p class="banner-text">Знаю, як підкреслити Вашу природню красу</p>
                <button id="openModal" class="banner-button">Хочу записатися</button>
            </div>
        </div>

        <div class="qwe"></div>
    </div>
</section>