<section>
    <div class="container certificate">
        <h2 class="certificate-content">Сертифікати</h2>
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="./images/desktop/CertificateDesktop1.webp" alt="Certificate1">
                </div>
                <div class="swiper-slide">
                    <img src="./images/desktop/CertificateDesktop2.webp" alt="Certificate1">
                </div>
                <div class="swiper-slide">
                    <img src="./images/desktop/CertificateDesktop2.webp" alt="Certificate1">
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>