<section id="favor">
    <div class="container">
        <h2 class="favor">Мої послуги</h2>
        <ul class="favor-list">
            <li class="favor-item">
                <img class="favor-photo" src='./static/images/desktop/FavorDesktop1.webp' alt="alt-text" width="300" />
                <p class="favor-text">Фарбування волосся</p>
            </li>
            <li class="favor-item">
                <img class="favor-photo" src='./static/images/desktop/FavorDesktop2.webp' alt="alt-text" width="300" />
                <p class="favor-text">Відновлення волосся</p>
            </li>
            <li class="favor-item">
                <img class="favor-photo" src='./static/images/desktop/FavorDesktop3.webp' alt="alt-text" width="300" />
                <p class="favor-text">Жіночі стрижки</p>
            </li>
            <li class="favor-item">
                <img class="favor-photo" src='./static/images/desktop/FavorDesktop4.webp' alt="alt-text" width="300" />
                <p class="favor-text">Зачіски</p>
            </li>
            <li class="favor-item">
                <img class="favor-photo" src='./static/images/desktop/FavorDesktop5.webp' alt="alt-text" width="300" />
                <p class="favor-text">Вихід з чорного</p>
            </li>
            <li class="favor-item">
                <img class="favor-photo" src='./static/images/desktop/FavorDesktop6.webp' alt="alt-text" width="300" />
                <p class="favor-text">Доглядові процедури</p>
            </li>
        </ul>
    </div>
</section>