<section class="footer" id="Footer">
    <div class="container parameters">
        <div class="footer-bloc">
            <img src="./svg/vectorFooter1.svg" class="vector-footer1" alt="alt-text" width="140" height="142" />
            <a href="/" class="logo-link">
                <img src="./svg/Logo.svg" class="footer-logo" alt="alt-text" width="50" height="60" />
            </a>
            <img src="./svg/VectorFooter2.svg" class="vector-footer2" alt="alt-text" width="140" height="142" />
        </div>
        <p class="footer-subtitle">Сертифікований майстер-колорист</p>
        <p class="footer-item">ivanna venhrynska</p>
        <p class="footer-subtitle2">Сертифікований майстер-колорист</p>
        <h2 class="footer-contact">Контакти</h2>
        <ul class="footer-address">
            <li>
                <a class="footer-address-list" href="https://maps.app.goo.gl/CWxUs7oP36Hy92zx8" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <img class="footer-icon" src="./svg/Geolokacija.svg" alt="alt-text" width="40" height="40" />
                    <p class="footer-address-item">м. Коломия, вул. Валова, 29</p>
                </a>
            </li>
            <li>
                <a class="footer-address-list" href="tel:+380973901222">
                    <img class="footer-icon" src="./svg/Phone.svg" alt="alt-text" width="40" height="40" />
                    <p class="footer-address-item">+38 097 390 12 22</p>
                </a>
            </li>
        </ul>
        <ul class="footer-social">
            <li class="footer-social-icons">
                <a href="https://www.instagram.com/viva_colorist?igsh=dXV1dzhvemNuemcx" target="_blank"
                    rel="noopener noreferrer nofollow">
                    <img src="./svg/Instagram.svg" alt="Instagram" width="40" height="40" />
                </a>
            </li>
            <li class="footer-social-icons">
                <a href="https://t.me/Ivanna_Venhrynska" target="_blank" rel="noopener noreferrer nofollow">
                    <img src="./svg/Telegram.svg" alt="Telegram" width="40" height="40" />
                </a>
            </li>
            <li class="footer-social-icons">
                <a href="viber://chat?number=380973901222" target="_blank" rel="noopener noreferrer nofollow">
                    <img src="./svg/Viber.svg" alt="Viber" width="40" height="40" />
                </a>
            </li>
        </ul>
        <div class="footer-studio">
            <p class="footer-studio-text">WebStudio “R U K A”</p>
            <img src="./svg/Ruka.svg" alt="alt-text" width="16" height="16" />
        </div>
        <p class="footer-studio-logo">Всі права захищені 2025</p>
    </div>
</section>