<section class="form">
    <div class="container">
        <h2 class="form-text">Залишилися запитання? </h2>
        <p class="form-text-item">Ми з Вами зв’яжемося</p>
        <p class="form-list">Залиште Ваші дані </p>
        <form action="Ім'я">
            <label htmlFor=""></label>
            <ul class="form-subject">
                <li class="form-subject-slogan">
                    <input type="Ім'я" name="Ім'я" id="Ім'я" placeholder="Ім'я"></input>
                </li>
                <li class="form-subject-slogan">
                    <input type="Номер телефону" name="Номер телефону" id="Номер телефону"
                        placeholder="Номер телефону"></input>
                </li>
                <li class="form-subject-text">
                    <input type="Текст" name="Текст" id="Текст" placeholder="Текст"></input>
                </li>
            </ul>
            <button class="form-btn">Надіслати</button>
        </form>
        <img class="form-icon" src="./svg/Form.svg" alt="alt-text" width="140" height="142" />
    </div>
</section>