<section class="my-works">
    <div class="container">
        <h2 class="my-works-content">Мої роботи</h2>
        <div class="swiper swiper-my-works">
            <ul class="swiper-wrapper swiper-container">
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop1.webp" alt="">
                </li>

                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop2.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop3.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop4.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop5.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop6.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop7.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop8.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop9.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop10.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop11.webp" alt="">
                </li>
                <li class="swiper-slide">
                    <img class="swiper-slide-image" src="./static/images/swiper/Desktop/SlaidDesktop12.webp" alt="">
                </li>
            </ul>
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
            <div class="swiper-pagination"></div>
        </div>

        <a href="https://www.instagram.com/viva_colorist?igsh=dXV1dzhvemNuemcx" target="_blank"
            rel="noopener noreferrer nofollow">
            <div class="my-works-social">
                <p class="my-works-social-text">Більше робіт в соцмережах</p>
                <img class="my-works-social-icon" src='./static/svg/Instagram.svg' alt="Instagram" width="40"
                    height="40" />
            </div>
        </a>
    </div>
</section>