<section>
    <h1>Головна сторінка</h1>
    <!-- <a href="contact.html">Перейти на сторінку контактів</a> -->

    <div class="form-container">
        <form id="contactForm1">
            <input type="hidden" name="page" value="Головна сторінка">

            <input type="text" name="surname" id="surname1" placeholder="Ваше прізвище">
            <p class="error-message" id="surnameError1"></p>

            <input type="text" name="name" id="name1" placeholder="Ваше ім'я">
            <p class="error-message" id="nameError1"></p>

            <input type="email" name="email" id="email1" placeholder="Ваш Email">
            <p class="error-message" id="emailError1"></p>

            <input type="tel" name="phone" id="phone1" placeholder="Ваш телефон">
            <p class="error-message" id="phoneError1"></p>

            <textarea name="text" id="text1" placeholder="Ваше повідомлення"></textarea>
            <p class="error-message" id="textError1"></p>

            <button type="submit">Надіслати</button>
        </form>
    </div>

    <!-- Модальне вікно для повідомлення -->
    <div id="messageModal1" class="message-modal">
        <div class="message-modal-content">
            <span class="message-close" onclick="closeMessageModal('messageModal1')">&times;</span>
            <p id="responseMessage1"></p>
        </div>
    </div>
</section>